/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}

header {
  background-image: url('/img/2.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3vh;
}

.nav-bar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 20vh; 
  max-height: auto; 
}


.buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 1em;
}

.btn {
  padding: 1vh 1vh;
  padding: right 0;
  font-size: 1em;
  cursor: pointer;
  transition: 0.1s;
}


.sign-in {
  background-color: #68c0b7; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
}

.sign-in:hover {
  background-color: #6ba6a0;
}

.sign-up {
  background-color: #008CBA; /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
}

.sign-up:hover {
  background-color: #176782;
}

.banner {
  display: flex;
} 

.banner .banner-text{
  margin: 150px 3px 150px 3px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}

.banner .banner-text h1 {
  font-size: 7vh;
  color: #153844;
  text-align: center;
}

.banner .banner-text p {
  font-size: 20px;
  color: #1d4f5f;
  font-weight: lighter;
  margin: 18px 0;
  text-align: center;
}

.banner-foto{
  padding: 100px 0 100px 50px;
  display: flex;
  justify-content: flex-end;
}

.foto{
  max-width: 50vh; 
}


.corpo-login{
  display: flex;
}

.container_login {
  display: flex;
  align-items: center;
}

.corpo_texto {
  margin: 10px 1px 10px 50px;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}

.container_corpo_login {
  color: white;
  display: flex;
  padding: 150px 50px;
  align-items: center;
  justify-content: center;
  background-color: #92d5cf;
}

.vertical-line {
  border-left: 2px solid #ffffff; /* Cor e espessura da linha */
  height: 200px; /* Altura da linha */
  margin-left: 10px;
}

.corpo-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.formulario .form{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.form input {
  text-align: center;
  margin: 0.5em;
  padding: 1vh 1vh;
  padding: right 0;
  font-size: 0.9em;
  background-color: #68c0b7; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
}


.footer {
  background-color: #92d5cf;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.body_home{
  width: 100%;
  padding: 10vh 10vh;
  /* background-color: #19404d; */
  background-color: #568d9f;
  /* background-color: #395553; */
  /* background-color: #22403d; */
}

.body_aluno{
  width: 100%;
  padding: 5vh 5vh;
  background-color: #c2e9e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.espelho_cabecalho{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6ba6a0;
  /* #4ea296; */
  padding: 2vh;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
}

.espelho_titulo{
  color: #ddd;
}

.btn_espelho{
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1vh;
}

.cadastro-table-container {
  width: 100%;
  width: 80vh; 
  height: 75vh;   
  overflow: auto;   /* Adiciona o scroll */
  border: 1px solid #ddd; /* Opcional: adiciona uma borda ao contêiner */
  border-radius: 0 0 5px 5px;
}

 .cadastro_logo {
  background-color: #c2e9e5;
}

.menu_opcoes{
  padding: 10vh 10vh;
  background-color: #c2e9e5;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  border: 1px solid #ddd; 
  border-radius: 5px;
}
  

.btn_menu_opcoes {
  background-color: #6ba6a0;
  color: #ffffff;
  /* border: 2px solid #19404d; */
  border-radius: 5px;
  padding: 1vh;
  margin: 0 8vh 0 8vh;
}

.horizontal-line {
  /* width: 100%;  */
  height: 2px; /* Ajusta a altura da linha */
  background-color: #333; /* Cor da linha */
  margin: 3vh 8vh 3vh 8vh; /* Margem acima e abaixo da linha */
  display: flex;
  align-items: center;
  border-radius: 1px;

}

.btn_pagina {
  background-color: #7ea9b2;
  color: #ffffff;
  /* border: 2px solid #19404d; */
  border-radius: 5px;
  padding: 1vh;
}

.escopo {
  width: 180vh;  
  height: 60vh;   
  /* border: 1px ; */
  /* solid #000000;  */
  border-radius: 5px; 
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* background-color: #19404d; */
  background-color: #568d9f;
  padding: 20px;

}

.menu_opcoes{
  /* background-color: #19404d; */
  background-color: #568d9f;
  width: 180vh;
  display: flex;
  justify-content: center;
}


#foto_form{
  padding: 10vh;
}

.cadastro-tabela {
  width: 60vh;
  border-collapse: collapse;
  /* background-color: #19404d; */
  background-color: #568d9f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-tabela td {
  padding: 10px;
  /* border: 1px solid #ddd; */
}

.cadastro-tabela label {
  font-weight: bold;
  color: #ddd;
}

.cadastro-tabela input,
.cadastro-tabela select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6ba6a0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cabecalho{
  display: flex;
  align-items: center;
  background-color: #19404d;
}


.submit-button_container {
  display: flex;
  justify-content: center;
}

.opcao_cadastro{
  padding: 2vh 0 2vh 0 ;
}

.opcao_cadastro_un{
  padding: 0 3vh 0 3vh;
  color: #93d0ca;
  
}

.opcao_cadastro_texto{
  padding: 0 0 3vh 0;
  color: #38494d;
}

select{
  width: 100%;
  height: 5vh;
  border-radius: 4px;
}

.container_selecao_cadastro{
  display: flex;
  flex-direction: column;
}
